<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<div class="col-xs-24 messages-to-show" ng-show="server.responses.display">

    <div ng-show="server.responses.queue.length > 1" class="repeat-leyend">
      <button type="button" class="btn btn-default" ng-click="allMessages = !allMessages">
        <span ng-show="!allMessages">Show All messages</span>
        <span ng-show="allMessages">Show last message only</span>
        &nbsp;&nbsp;<span class="glyphicon" ng-class="allMessages ? 'glyphicon-chevron-up':'glyphicon-chevron-down'"></span>
      </button>
    </div>

    <div ng-show="allMessages" ng-repeat="message in server.responses.queue" class="repeat-animation">
      <div class="alert"
           ng-class="{ 'bg-success': message.success === true,
                     'bg-warning': message.success === 'cancel',
                     'bg-warning': message.success === 'warning',
                     'bg-danger': message.success === false }">


        <span ng-if="!message.success === 'cancel'"
              ng-class="{'text-success': message.success, 'text-danger': !message.success}">
          {{ message.status }}
        </span>

        {{ message.message }}

        <a ng-if="message.success === 'cancel'" ng-click="restore(message, $index)">UNDO</a>

        <div class="entypo cross"
             ng-class="{ 'text-success': message.success === true,
                         'text-danger': message.success === false,
                         'text-warning': message.success === 'cancel' }"
             ng-click="closeAlert($index)">
        </div>
      </div>
    </div>

  <div ng-show="!allMessages" ng-repeat="message in server.responses.queue | limitTo:-1" class="repeat-animation">
    <div class="alert"
         ng-class="{ 'bg-success': message.success === true,
                     'bg-warning': message.success === 'cancel',
                     'bg-warning': message.success === 'warning',
                     'bg-danger': message.success === false }">


        <span ng-if="!message.success === 'cancel'"
              ng-class="{'text-success': message.success, 'text-danger': !message.success}">
          {{ message.status }}
        </span>

      {{ message.message }}

      <a ng-if="message.success === 'cancel'" ng-click="restore(message, $index)">UNDO</a>

      <div class="entypo cross"
           ng-class="{ 'text-success': message.success === true,
                         'text-danger': message.success === false,
                         'text-warning': message.success === 'cancel' }"
           ng-click="closeAlert($index)">
      </div>
    </div>
  </div>


</div>

